{% extends 'home/basic.html' %}

{% block title%} Home{% endblock %}
 {% block homeactive %} active{% endblock homeactive %}
{% block body %}
<div class="containter">
 <div class="jumbotron">
  <h1 class="display-4">Welcome to icoder block!</h1>
  <p class="lead">This is a simple blog website,you can read some blog from here.</p>
  <hr class="my-4">
  <p>I think you will enjoy our website.</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
</div>
</div>
{% endblock body %}